body {
    margin: 0;
}


main {
    display: flex;
}

.text-align-right {
    text-align: right;
}

.centered {
    width: 25%;
    text-align: center;
}

.description-width {
    width: 35%;
}

.backlogMainContainer {
    font-family: 'PT Sans';
    margin-left: 20px;
}

.backlogHeadline h2 {
    margin-bottom: 0;
}


.backlogHeadline p {
    margin-top: 5px;
    color: #3a3ab6;
}
.backlogWrapper {
    width: 70vw;
}

.backlogHeadlines {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'PT Sans';
    color: #3a3ab6;
}

.backlogTasks {
    display: flex;
}

.backlogCard {
    height: 90px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    background-color: #f4f4fb;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2)
}

.trash img{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    opacity: 0.5;
}

.send img{
    position: absolute;
    right: 35px;
    bottom: 5px;
    width: 20px;
    opacity: 0.5;
}

.trash img:hover, .send img:hover{
    opacity: 1;
    cursor: pointer;
}

.tiny-color {
    height: 70px;
    width: 5px;
}

.Marketing {
    background-color: #AF5784;
    width: 5px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Product {
    background-color: #0E8179;
    width: 5px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Sale {
    background-color: #6A39AB;
    width: 5px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}