body {
    margin: 0;
}


main {
    display: flex;
}


.columnContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'PT Sans';
}


.columnContainerChild {
    width: 20%;
    margin-right: 25px;
    margin-left: 25px;
}


.columnContainerChild h2 {
    text-align: center;
}


.column {
    height: 75%;
    background-color: rgba(0, 0, 0, 0.1);
}


.draggedElement {
    border: 2px solid black;
    border-radius: 3px;
}


.draggedElement:hover {
    cursor: pointer;
}


.textCenter {
    text-align: center;
}


.highlight {
    background-color: rgba(0, 0, 0, 0.3);
}