.d-none {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.loginContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSection {
    display: flex;
}

.loginLeftside {
    height: 500px;
    width: 100px;
    background-color: #03037f;
    display: flex;
    justify-content: center;
}

.loginLeftside img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: 30px;
}

.rightSide {
    margin: unset;
    border-radius: unset;
    width: 500px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-evenly;
    background-color: lightgray;
}

.userInfo {
    font-size: 25px;
}

.rightSide input {
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 300px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    height: 30px;
    width: 150px;
    border: unset;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.guest span {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-sizing: content-box;
    background-color: #efeeef;
}

.guest span:hover {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#errorMessage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.errorBox {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: red;
    border-radius: 5px;
}

.errorBox span {
    font-size: 18px;
}