@media (max-width: 1239px) {

    .formularMainContainer {
        margin-left: 250px;
    }
}


@media (max-width: 1200px) {

    .formularMainContainer {
        margin-left: 200px;
    }
}


@media (max-width: 1150px) {

    .formularMainContainer {
        margin-left: 150px;
    }
}


@media (max-width: 1090px) {

    .formularMainContainer {
        margin-left: 100px;
    }
}


@media (max-width: 1040px) {

    .formularMainContainer {
        margin-left: 50px;
    }
}


@media (max-width: 1079px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .backlogWrapper {
        width: 100vw;
    }

    .backlogInfo form  {
        display: flex;
        justify-content: center;
        border-radius: 0px;
        padding-left: 0;
        padding-right: 0;
    }

    nav {
        display: none;
        justify-content: center;
        width: 100%;
        height: 649px;
    }

    .backlogMainContainer {
        align-self: center;
        margin-left: 0 !important;
    }
    
    .backlogInfo form {

        max-width: 100vw;
        width: 100vw;
    }

    .responsiveMenu {
        display: flex;
    }

    .userImage {
        padding-top: 150px;
    }

    .imgMenu {
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 15px;
        position: absolute;
        left: 20px;
    }

    .containerWithSections {
        width: unset;
    }
}


@media (max-width: 1047px) {

    .backlogInfo input select{
        width: 280px !important;
    }
}

@media (max-width: 685px) {
    .backlogInfo form {
     border-radius: 8px;
    padding: 22px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .right-half {
        margin-left: -34px;
    }
}

@media (max-width: 536px) {

    .backlogMainContainer {
        width: 100vw;
    }
}

@media (max-width: 470px) {

    .backlogHeadlines {
        display: none;

    }

    .description-width {
        width: unset;
    }
}


@media (max-width: 470px) {
    
    .backlogWrapper {
        width: 95%;
    }

    .centered {
        width: unset;
    }

    .backlogInfo input select{
        width: 280px;
    }
}