@media (max-width: 1239px) {

    .formularMainContainer {
        margin-left: 250px;
    }
}


@media (max-width: 1200px) {

    .formularMainContainer {
        margin-left: 200px;
    }
}


@media (max-width: 1150px) {

    .formularMainContainer {
        margin-left: 150px;
    }
}


@media (max-width: 1090px) {

    .formularMainContainer {
        margin-left: 100px;
    }
}


@media (max-width: 1040px) {

    .formularMainContainer {
        margin-left: 50px;
    }
}


@media (max-width: 1000px) {

    main {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: none;
        justify-content: center;
        width: 100%;
        height: 649px;
    }

    .responsiveMenu {
        display: flex;
    }

    .userImage {
        padding-top: 150px;
    }

    .imgMenu {
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 15px;
        position: absolute;
        left: 20px;
    }

    .containerWithSections {
        width: unset;
    }
}


@media (max-width: 990px) {

    .backlogWrapper {
        width: 97%;
    }

    .backlogHeadline {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 470px) {

    .backlogHeadlines {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-width {
        width: unset;
    }
}


@media (max-width: 470px) {
    
    .backlogWrapper {
        width: 95%;
    }

    .centered {
        width: unset;
    }
}